body{

background:linear-gradient(135deg,#141E30,#243B55);

min-height:100vh;

font-family:Arial,sans-serif;

}

.glass-card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

animation:fade 1s;

}

.navbar{

padding:18px;

font-size:22px;

}

.form-control,
.form-select{

height:50px;

border-radius:10px;

}

.btn{

border-radius:30px;

font-size:20px;

}

footer{

font-size:18px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(-30px);

}

to{

opacity:1;

transform:translateY(0);

}

}